	<footer>
        <a style="color: white; float:none;">Website by: Simon Bäurle</a>       
        <a href="impressum.php">Impressum</a>
        <a href="datenschutz.php">Datenschutzerklärung</a>
		<a href="contact.php">Contact</a>
      </footer>