<div class="navbar">
	<button class="drpbtn">Menu</button>
    <ul class="cont">	
		<li>
          <a id="home" href="index.php">Home</a>
        </li>
        <li>
          <a id="islands" href="islands.php">Inseln</a>
        </li>
        <li>
          <a id="weather" href="weather.php">Wetter</a>
        </li>
        <li>
          <a id="activities" href="activities.php">Aktivitäten</a>
        </li>
        <li class="right">
          <a id="about" href="about.php">About</a>
        </li>
        <li class="right">
          <a id="contact" href="contact.php">Contact</a>
        </li>
      </ul>
</div>


