.background{
	background-image: url("../images/shore.jpg");
}

#about {
    background-color: #00741c;
    color: white;
}

.list{
	list-style: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	padding-left:0;
}