textarea {
    resize: none;
	height: 8em;
    width: 30em;
}

input[type=text]{
	width: 30em;
}

input[type=email]{
	width: 30em;
}

.background{
	background-image: url("../images/shore.jpg");
}

.input{
	padding: 0 100px 0 100px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
}

#contact {
    background-color: #00741c;
    color: white;
}

@media screen and (max-width: 600px){

.input{
	padding: 0;
}


textarea{
	height: 8em;
    width: 100%;
}

input[type=text]{
	width: 100%;
}

input[type=email]{
	width: 100%;
}
}