.background{
	background-image: url("../images/shore.jpg");
}

#home {
    background-color: #00741c;
    color: white;
}

#kamehameha{
	float:left;
}

@media screen and (max-width: 600px){
	#kamehameha{
	float:none;
}
}
