.background{
	background-image: url("../images/shore2.jpg");
}

#kauai{
	float: left;
}

#islands {
    background-color: #00741c;
    color: white;
}

@media screen and (max-width: 600px){
	#kauai{
	float: none;
}
}