﻿.navbar {
	font-family: 'Amatic SC';   
}

.navbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	position: fixed;
	top: 0; 
    overflow: hidden;
    background-color: #424242;    
    width: 100%;
	font-size: 25px;
	z-index: 2;
}

.navbar li {
    float: left;
    border-right:1px solid #bbb;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .right{
	float: right;
	border-right: none;
	border-left:1px solid #bbb;
}

.drpbtn{
	display:none;
}

@media screen and (max-width: 600px){
.navbar{
	font-family: 'Open Sans Condensed', sans-serif;
	position: fixed;
    display: inline-block;
	z-index: 2;
}

.drpbtn {
	display: inline;
	background-color: #424242;
    color: white;	
	top: 0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar .cont{
	position: absolute;
	display: none;
    margin: 0;
    padding: 0;
	font-size: 20px;    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: auto;
}

.navbar li{
	float: none;
    border:0;
	z-index:2;
}

.navbar .right{
	float: none;
    border:0;
}

.navbar:hover .cont{
    display:block;
}
}