@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Raleway');

body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1{
	font-size: 60px;
	font-weight: bold;
}

h2{
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding-bottom: 20px;
}

footer{
	position: fixed;
	background: #424242;
	bottom: 0;
	color: white;
	width: 100%;
}

footer a{
	color: #ff5c26;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.background{	
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;	
	padding: 100px 15% 50px 15%;
}

.content{
	text-align: center;	
	padding: 20px;
	font-family: 'Amatic SC';
	background-color: rgba(93,93,93,0.9);
	color: white;
}

.content a{
	color: #ff5c26;
}

.map{
	height:300px;
	width:400px;	
	border:0;	
	float: right;
	padding: 20px;
}

.image {
	float: right;
	position: relative;
	display: inline-block;
}

.image.panorama {
	width: 400px;
	height: 300px;
}
.image.portrait {
	width: 300px;
	height: 300px;
}

.image figcaption {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	position: absolute;
	bottom: -1em;	
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
}

.image:hover figcaption{
	opacity: 1;
	bottom: 0;	
}

.image img{
	height: 100%;
	width: 100%;
	display: block;
}

#video{
	width: 854px;
	height: 480px;
}

@media screen and (max-width: 600px){

footer{
	display:none;
}

.map{
	display: none;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 25px;
}

p{
	font-size: 20px;
}

.image{
	float:none;
	margin: 0;
	padding: 0;
}

.image.panorama {
	width: 100%;
	height: 200px;
}
.image.portrait {
	width: 200px;
	height: 200px;
}

.background{	
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	padding: 0;
}

.content{
	min-height: 94vh;
	padding: 5%;
	background-color: rgba(93,93,93,0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#video{
	width: 100%;
	height: 100%;
}
}
