a{
	color: #ff5c26;
}

.background{
	background-image: url("../images/sunset.jpg");
}

#note{
	position: relative;
	font-size: 15px;
}

#weather {
    background-color: #00741c;
    color: white;
}

#cont_e80ed57a1b2582a33f98419662908695{
	display: none;
}

@media screen and (max-width: 650px){
#cont_e80ed57a1b2582a33f98419662908695{
	display: block;
}
#cont_48859802758ae07a3ec2d12304e0fc34{
	display: none;
}	
}